* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: bisque;
    padding: 10px;
    height: 100vh;
    flex-direction: column;
  }

h1 {
    text-align: center;
}

.search-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: rgb(0, 136, 168)
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: 50px auto;
}

.carousel {
    display: flex;
    overflow-x: hidden;
    background: floralwhite
}

.review {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgb(0, 136, 168)
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.reviews-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: floralwhite;
}

.reviews-container h2 {
    text-align: center;
}

#review-form input[type="text"], #review-form textarea, #review-form input[type="number"] {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
}

#review-form textarea {
    height: 100px;
}

#review-form button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#review-form button:hover {
    background-color: rgb(0, 136, 168)
}